body {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    background: #f8f8f5;
    color: #333;
}

.error-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.error-container h1 {
    font-size: 120px;
    margin: 0;
    color: #6b8e23;
    /* ナチュラルグリーン */
}

.message {
    font-size: 20px;
    margin: 10px 0;
}

.sub-message {
    font-size: 14px;
    color: #777;
    margin-bottom: 30px;
}

.back-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #6b8e23;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.back-btn:hover {
    opacity: 0.8;
}